body{
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 40px;
}

    html {
        scroll-behavior: smooth;
    }

.up {
    position: fixed;
    bottom: 15px;
    width: 80px;
    height: 80px;
    font-size: 50px;
    padding: 8px;
    right: 10px;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 40px;
    cursor: pointer;
    transform: translatey(-1000px);
    transition: 0.3s;
    overflow: hidden;
    z-index: 9999999;
}

.up::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
    left: 0;
    top:0;
    transform: scale(0);
    border-radius: 50%;
    background-color: gray;
    transition: 0.3s;
}

.up:hover::before {
    /* width: 100%;
    height: 100%; */
    transform: scale(1);
}

.up.show {
    /* right: 10px; */
    transform: translatey(-10px);
}


.up.remove {
    transform: translatey(-1000px);
}
    /* start nav */
.content{
    font-family: 'Roboto', sans-serif;
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 10000;
}

.content ul {
    display: flex;
    margin-top: 20px;
}

.content ul li{
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
}
.content ul div:not(:first-child) {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: relative;
    margin-right: 30px;
}

.content ul div:first-child{
    display: none;
}

@media (max-width: 768px) {
.content ul div:not(:first-child){
    display: none;
}
.content ul div:first-child{
    display: block;
}
.landing-img{
visibility: hidden;
}
.content .img{
    width: 170px;
    margin-right: 190px;
}

.content ul div:first-child{
    display: block;
    margin-top: 5px;
    margin-right: 20px;
}
.hassan-mohamed{
    flex-direction: column;
padding:10px;
}
.hassan-mohamed .hassan-text-p{
    font-size: 20px;
    margin-left: 20px;
margin-bottom: 10px;
}
.landing .div{
    left:20px;
    top: 40%;
    font-size:20px;
    font-weight: 500;
}
.landing .div span{
    font-size:30px;
    font-weight: 500;
}
.about-us  .h1-in-about{
    left: 60%;
    width: 200px;
    font-size: 20px;
}
.up{
    width: 60px;
    height: 60px;
    font-size: 35px;
    padding: 6px;
}
}
@media (min-width: 1080px) {
.content .img{
    width: 170px;
    margin-right: 1100px;
}
}
/* .content ul div:first-child.show{
    display: flex;
    width: 100px;
    flex-direction: column;
    height: 50px;
    position: relative;
    margin-right: 30px;
} */
    .content img{
    margin-right: 700px;
    margin-right: 700px;
    margin-top: 20px;
    width: 270px;
    }


.content ul  div::before{
    content: '';
    position: absolute;
    top :0;
    left: 0;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(94, 94, 94);
    transform: scale(0);
    transition: 0.3s;
}

.content ul  div:hover::before{
    transform: scale(1);
}


/* end nav bar  */
/* start landing */
.landing{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-img{
    min-height: 100vh;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.landing div{
    position: absolute;
    left: 100px;
    top: 50%;
    color: white;
}
.landing div span{
font-family: 'Poppins', sans-serif;
font-size: 40px;
font-weight: 600;
}




/* end landing */

/* start about us  */
.about-us{
    position: relative;
    padding-left: 15px;
    /* padding-right: 5px; */
}
.about-us .text {
color: white;
}
.about-us .text  .h1-hassan{
    margin-top: -30px;
    margin-left: -70px;

}
.about-us .text .h1-hassan h1{
    font-size: 28px;
}
.hassan-text-p{
    font-weight: normal;
    font-size: 25px;
}
.about-us .text  .img{
    margin: 0;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.h1-in-about{
    color: white;
    font-size: 45px;
    position: absolute;
    width: 280px;
    left: 53%;
    transform: translatex(-50%);
    top: -80px;
    cursor: pointer;
    text-transform: uppercase;
}
.h1-in-projects{
    text-transform: uppercase;
    margin: 20px auto;
    color: white;
}
.h1-hassan{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* end about us  */


/* start projects */
#projects{
    padding: 20px;
}

#projects .con{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.h1-pro{
    margin-left: 550px;
}
/* end projects */

